<body style="background-image: url('bg.jpg');">
  <section class="block first-page">
    <p class="welcome-head">Welcome to Healthcare Manager Application!</p>
    <div class="button-section">
      <%= link_to "Sign-Up", new_user_path, class: "buttons" %>
      <%= link_to "Sign-in", "/signin", class: "buttons" %>
    </div>
  </section>
</body>

