<h1 class="Home-title">
  HEALTH CARE MANAGEMENT!!!
</h1>

<h3 class="Home-title">
  Admin Page
</h3>

<p class="Home-authenticate">
  Admin LogIn , <%= link_to "click here", new_sessions_path %>
</p>