.s_pending{
  background-color: rgb(140, 252, 140);
}
.s_completed{
  background-color: rgb(253, 186, 186);
}
.s_edit{
  width: 15px;
}
.s_delete{
  width: 20px;
}
.s_color{
  margin-left: 7.5%;
  margin-bottom: 1.5%;
  display: flex;
  width: 100%;
  float: right;
}
.s_color div{
  margin-left: 10px;
}
.s_color p{
  margin-left: 10px;
}
.s_main_color{
  display: flex;
}
.s_green, .s_pink ,.s_grey{
  width:20px;
  height: 20px;
  border-radius: 50%;
}
.s_green{
  background-color: rgb(134, 255, 134);
}
.s_pink{
  background-color: rgb(253, 141, 141);
}
.s_grey{
  background-color: rgb(189, 187, 187);
}
.s_app_list{
  width:60%;
  margin:auto;
}
.s_app_list div{
  height: 75px;
}
.s_t_header{
  background-color: rgb(66, 66, 66);
  color: white;
}
.s_my_table{
  margin-top: 10px;
}

.s_my_table td,.s_my_table th{
  text-align: center;
}
.not-allowed-slot{
  opacity: 0.7;
  cursor: not-allowed;
}
.s_center{
  margin-left: 40%;
}
.s_center1{
  margin-left: 42.5%;
}